- if user_signed_in?
  = link_to '通知先登録', user_line_notify_omniauth_authorize_path
  = link_to '検索キーワード', search_keywords_path
  = link_to '通知履歴', tv_programs_path
- else
  = link_to 'LINEログイン', user_line_omniauth_authorize_path

